.DS_Store
*.exe
*.gz
*macos*
manuscript
*.md5
old-releases
probs.md
roadmap.pdf
Session.vim
*.sha256
.*.sw?
tags
target
msafara.1
msafara.1.gz
msafara*.gz
msafara-v1.0.0-macos-x86_64
msafara-v1.1.0-macos-x86_64
msafara*.zip
*windows*
*.zip
*.jl
dist
*~
*.aln
*.tree
*.svg
backtr*.osx
backtrace.log
*.rej01
